
* {
    font-family: "Waanverse Font", "sans-serif";
      user-select: none;
      -webkit-tap-highlight-color: transparent;

}
@tailwind base;
@tailwind components;
@tailwind utilities;
*:disabled {
  @apply cursor-progress opacity-50;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Set the color of the thumb */
  border-radius: 4px; /* Optional: Add rounded corners to the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Set the color of the track */
}

.appbarlink{
  @apply border-b-0 px-2;
}

.appbarlink.active{
  @apply border-b-4 rounded-sm border-primary-600 ;
}


.react-datepicker__input-container{
  width: 100% !important;
  display: block !important;

}
.react-datepicker__input-container>input{
    padding: 10px !important;
    padding-left: 40px !important;

}



.react-datepicker-wrapper{
  width: 100%;
}
